# install4j response file for jira {{ jira_version }}
launch.application$Boolean=false
rmiPort$Long=8005
app.jiraHome={{ jira_data_dir }}
app.install.service$Boolean=true
existingInstallationDir={{ jira_base_dir }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jira_base_dir }}
executeLauncherAction$Boolean=true
httpPort$Long=8080
portChoice=default